@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

body {
    margin: 0;
}

.map {
    background: #eee;
    position: absolute;
    width: 100%;
    top: 165px;
    bottom: 0;
    right: 0;
    left: 0;
}

.leaflet-container {
    cursor: crosshair;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-bar {
    box-shadow: none;
}

.leaflet-bar a.leaflet-disabled {
    background-color: transparent;
}

.headerColumn {
    height: 165px;
    display: table-cell;
    vertical-align: top;
}

.headerColumn button {
    border: none;
    width: 75px;
    height: 30px;
    padding: 0 0;
}

.headerText {
    font-size: 16px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: white;
}

.tableDisplay {
    display: table;
}

.tableColumn {
    display: table-cell;
    vertical-align: middle;
}

.headerInput {
    font-size: 15px;
    font-family: "Roboto Condensed";
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

.searchColumn {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    border: none;
}

#searchInput {
    margin-right: 10px;
    width: 145px;
}

#loginPanel {
    width: 170px;
}

#loginInput {
    height: 30px;
    width: 165px;
    margin-top: 5px;
}

#passwordInput {
    height: 30px;
    width: 165px;
    margin-top: 5px;
}

.routePanel button {
    border: none;
    width: 75px;
    height: 30px;
    padding: 0 0;
}

.routeRow {
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}

.profileTable {
    border-spacing: 0;
}

.profileTable td {
    vertical-align: middle;
}

.profileRow {
    background: transparent url(../images/bg01.png) no-repeat;
}

.sightRow {
    background: transparent url(../images/bg02.png) no-repeat;
}

.fake {
    display: none;
}

.selectedChoice .sightChoice {
    color: white;
}

.selectedChoice .profChoice {
    color: white;
}

.sightButton {
    width: 39px;
    height: 39px;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
}

#glassesSight .sightButton {
    background-image: url(../images/glasses.png);
}

#glassesSight.selectedChoice .sightButton {
    background-image: url(../images/glasses_a.png);
}

#glassesSight:hover .sightButton {
    background-image: url(../images/glasses_h.png);
}

#eyesSight .sightButton {
    background-image: url(../images/eyes.png);
}

#eyesSight.selectedChoice .sightButton {
    background-image: url(../images/eyes_a.png);
}

#eyesSight:hover .sightButton {
    background-image: url(../images/eyes_h.png);
}

.profButton {
    width: 39px;
    height: 39px;
    display: block;
    background-repeat: no-repeat;
    background-color: transparent;
}

#carProf .profButton {
    background-image: url(../images/bus.png);
}

#carProf.selectedChoice .profButton {
    background-image: url(../images/bus_a.png);
}

#carProf:hover .profButton {
    background-image: url(../images/bus_h.png);
}

#footProf .profButton {
    background-image: url(../images/peop.png);
}

#footProf.selectedChoice .profButton {
    background-image: url(../images/peop_a.png);
}

#footProf:hover .profButton {
    background-image: url(../images/peop_h.png);
}

#bicycleProf .profButton {
    background-image: url(../images/wheelchair.png);
}

#bicycleProf.selectedChoice .profButton {
    background-image: url(../images/wheelchair_a.png);
}

#bicycleProf:hover .profButton {
    background-image: url(../images/wheelchair_h.png);
}

#babyProf .profButton {
    background-image: url(../images/baby.png);
}

#babyProf.selectedChoice .profButton {
    background-image: url(../images/baby_a.png);
}

#babyProf:hover .profButton {
    background-image: url(../images/baby_h.png);
}

.leaflet-routing-container {
    display: none;
}

.leaflet-routing-container td {
    cursor: pointer;
}

.leaflet-routing-geocoder-result {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 1000; /* Arbitrary, but try to be above "most" things. */
}

.leaflet-routing-geocoder-result table {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    background-color: white;
    cursor: pointer;
}

.leaflet-routing-geocoder-result-open {
    max-height: 800px;
}

.leaflet-routing-geocoder-selected, .leaflet-routing-geocoder-result tr:hover {
    background-color: #eee;
}

.leaflet-routing-geocoder-no-results {
    font-style: italic;
    color: #888;
}
